<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bravo.bravobest.dao.EvaluationDao">



    <insert id="addEvaluationDetail" parameterType="java.util.Map">
        insert into perform_evaluation_detail(pk_id,perform_id,evalution_standard_no,evalution_point)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (REPLACE(UUID(), '-', ''),#{item.evaluationId}
            ,#{item.evaluationStandardNo},#{item.evaluationPoint})
        </foreach>
    </insert>


    
    <insert id="addEvaluation" parameterType="com.bravo.bravobest.api.entity.Evaluation">
        <selectKey keyProperty="evalutionId" order="BEFORE" resultType="java.lang.String">
            select replace(uuid(),'-','')
        </selectKey>
        insert into perform_evaluation (pk_id, user_no, evalution_period, evalution_person, evalution_time,
                                total_evaluation_point, evalution_type)
        value (
                #{evalutionId},
                #{userNo},
                #{evalutionPeriod},
                #{evalutionPerson},
                sysdate(),
                #{totalEvaluationPoint},
                #{evalutionType}
                )
    </insert>
</mapper>